{% extends "base.html" %}

{% block title %}Additional Links{% endblock %}

{% block content %}
<h2><i>Additional Links</i></h2>
    <h3><a href = "/processing_date">Processing Date</a></h3>
    <h3><a href = "/process_mf_returns">Process Mutual Fund Returns</a></h3>
    <h3><a href = "/process_realised_stock_returns">Process Realised Stock Returns</a></h3>
    <h3><a href = "/process_unrealised_stock_returns">Process Unrealised Stock Returns</a></h3>
    <h3><a href = "/process_consolidated_returns">Process Consolidated Returns</a></h3>
    <h3><a href = "/process_consolidated_allocation">Process Consolidated Allocation</a></h3>
    <h3><a href = "/holiday_calendar_setup">Setup Holiday Calendar</a></h3>
    <h3><a href = "/close_trades">Close Trades</a></h3>
    <h3><a href = "/process_entry">Add Process Entry</a></h3>
    <h3><a href = "/missing_prices_entry">Missing Prices Entry</a></h3>
    <h3><a href = "/create_tables">Create Tables</a></h3>
{% endblock %}