{% extends "base.html" %}

{% block title %}Additional Links{% endblock %}

{% block content %}
<h2><i>Additional Links</i></h2>
    <h3><a href = "/processing_date">Processing Date</a></h3>
    <h3><a href = "/process_mf_hist_returns">Process Mutual Fund Historic Returns</a></h3>
    <h3><a href = "/process_realised_stock_hist_returns">Process Realised Stock Historic Returns</a></h3>
    <h3><a href = "/process_unrealised_stock_hist_returns">Process Unrealised Stock Historic Returns</a></h3>
    <h3><a href = "/process_consolidated_hist_returns">Process Consolidated Historic Returns</a></h3>
    <h3><a href = "/process_consolidated_hist_allocation">Process Consolidated Historic Allocation</a></h3>
    <h3><a href = "/holiday_calendar_setup">Setup Holiday Calendar</a></h3>
    <h3><a href = "/close_trades">Close Trades</a></h3>
{% endblock %}