{% extends "base.html" %}

{% block title %}Historic Prices{% endblock %}

{% block content %}
<form id="hist_price_form">
    <label for = "exchange_symbol">
    <b>Exchange Symbol</b></label></br>
    <select id = "exchange_symbol" name = "exchange_symbol" placeholder="Enter the Exchange Symbol of Stock/Mutual Fund" required></select></br>

    <label for = "yahoo_symbol">
    <b>Yahoo Symbol</b></label></br>
    <input type = "text" id = "yahoo_symbol" name = "yahoo_symbol" placeholder="Enter the Exchange Symbol of Stock/Mutual Fund" readonly></br>

    <label for = "alt_symbol">
    <b>Alt Symbol</b></label></br>
    <input type = "text" id = "alt_symbol" name = "alt_symbol" placeholder="Enter the Exchange Symbol of Stock/Mutual Fund" readonly></br>

    <label for = "portfolio_type">
    <b>Portfolio Type</b></label></br>
    <input type = "text" id = "portfolio_type" name = "portfolio_type" placeholder="Enter the Exchange Symbol of Stock/Mutual Fund" readonly></br>

    <label for = "start_date">
    <b>Start Date</b></br></br>
    <input type = "date" id = "start_date" name = "start_date" placeholder = "Enter the Start Date">

    <label for = "end_date">
    <b>End Date</b></br></br>
    <input type = "date" id = "end_date" name="end_date" placeholder = "Enter the End Date">

    <button type = "submit" class="submit">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script type ="module" src="{{ url_for('static', filename='hist_price_form.js') }}" defer></script>
{% endblock %}