<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Consolidated Protfolio Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<header>
    <nav>
        <a href = "/">Home</a>
        <a href = "/hist_price">Historic Price</a>
        <a href = "/metadata">Metadata Entry</a>
        <a href = "/mf_order">Mutual Funds Order Entry</a>
        <a href = "/stock_order_pdf">Stock Order PDF</a>
        <a href = "/additional_links">Additional Links</a>
        <button class="theme-toggle" id="themeToggle">Toggle Mode</button>
    </nav>
</header>
<body>
<form id="hist_price_form">
    <label for = "alt_symbol">
    <b>Name</b></label>
    <select id = "alt_symbol" name = "alt_symbol" placeholder="Enter the Stock/Mutual Fund Name" required></select></br>

    <label for = "start_date">
    <b>Start Date</b>
    <input type = "date" id = "start_date" name = "start_date" placeholder = "Enter the Start Date">

    <label for = "end_date">
    <b>End Date</b>
    <input type = "date" id = "end_date" name="end_date" placeholder = "Enter the End Date">

    <button type = "submit" class="submit">Submit</button>
</form>

<div id = "result"></div>
<script src="{{ url_for('static', filename='hist_price_form.js') }}" defer></script>
</body>
</html>