<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Consolidated Protfolio Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<header>
    <nav>
        <a href = "/">Home</a>
        <a href = "/hist_price">Historic Price</a>
        <a href = "/metadata">Metadata Entry</a>
        <a href = "/portfolio_order">Portfolio Order Entry</a>
        <a href = "/processing_date">Processing Date</a>
        <button class="theme-toggle" id="themeToggle">Toggle Mode</button>
    </nav>
</header>

<body>
    <b>Consolidated Portfolio Tracker</b>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</body>
</html>