{% extends "base.html" %}

{% block title %}Mutual Funds Transactions Entry{% endblock %}

{% block content %}
    <div>
    <form id = "mf_txn_form">

    <label for = "exchange_symbol">
    <b>Exchange Symbol</b></label></br>
    <select id = "exchange_symbol" name = "exchange_symbol" placeholder="Enter the Name of the Mutual Fund" required></select></br>

    <label for = "txn_date">
    <b>Transaction Date</b></label></br>
    <input type = "date" id = "txn_date" name = "txn_date" autocomplete="off"></br>

    <label for = "txn_amount">
    <b>Transaction Amount</b></label></br>
    <input type = "number" id = "txn_amount" name = "txn_amount" placeholder="Enter the Transaction Amount" autocomplete="off" step = "0.0001"></br>

    <label for = "txn_type">
    <b>Transaction Type</b></label></br>
    <select id = "txn_type" name = "txn_type" autocomplete="off">
        <option value = "Buy">Buy</option>
        <option value = "Sell">Sell</option>
    </select>
    </br>

    <label for = "amc_amount">
    <b>AMC Amount</b></label></br>
    <input type = "number" id = "amc_amount" name = "amc_amount" placeholder="Enter the Actual AMC Amount" autocomplete="off" step = "0.0001"></br>

    <button type = "submit" class = "submit">Submit</button>
    </form>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='mf_txn_form.js') }}" defer></script>
{% endblock %}