{% extends "base.html" %}

{% block title %}Update Processing Dates{% endblock %}

{% block content %}
    <div>
    <form id = "processing_date_form">

    {% for type, label in [
    ("mf", "Mutual Funds"),
    ("ppf_mf", "Parag Parikh Mutual Fund"),
    ("stock", "Stocks"),
    ("sim_mf", "Simulated Mutual Funds"),
    ("sim_stock", "Simulated Stocks")
    ] %}
    <b name = "{{ type }}_proc_typ_cd" class = "card-title">Processing Type Code for {{ label }}</b></label></br></br>

    <label for = "{{ type }}_proc_date">
    <b>{{ label }} Processing Date</b></label></br>
    <input type = "date" id = "{{ type }}_proc_date" name = "{{ type }}_proc_date" autocomplete="off"></br>
    
    <label for = "{{ type }}_next_proc_date">
    <b>{{ label }} Next Processing Date</b></label></br>
    <input type = "date" id = "{{ type }}_next_proc_date" name = "{{ type }}_next_proc_date" autocomplete="off"></br>
    
    <label for = "{{ type }}_prev_proc_date">
    <b>{{ label }} Previous Processing Date</b></label></br>
    <input type = "date" id = "{{ type }}_prev_proc_date" name = "{{ type }}_prev_proc_date" autocomplete="off"></br>

    {% endfor %}
    <button type = "submit" class = "submit">Update Processing Dates</button>
    </form>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='processing_date_form.js') }}" defer></script>
{% endblock %}