{% extends "base.html" %}

{% block title %}Process Consolidated Historic Returns{% endblock %}

{% block content %}
    <div>
    <form id = "process_consolidated_hist_returns_form">

    <b>Process Consolidated Historic Returns</b></label></br></br>

    <button type = "submit" class = "submit">Start Processing Consolidated Historic Returns</button>
    </form>
    </div>
    <div>
        <canvas id="navChart"></canvas>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='process_consolidated_hist_returns.js') }}" defer></script>
{% endblock %}