{% extends "base.html" %}

{% block title %}Process Mutual Funds Historic Returns{% endblock %}

{% block content %}
    <div>
    <form id = "process_mf_hist_returns_form">

    <b>Process Mutual Fund Historic Returns</b></label></br></br>

    <button type = "submit" class = "submit">Start Processing Historic Returns</button>
    </form>
    </div>
    <div>
        <canvas id="navChart"></canvas>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='process_mf_hist_returns_form.js') }}" defer></script>
{% endblock %}