{% extends "base.html" %}

{% block title %}Process Consolidated Returns{% endblock %}

{% block content %}
    <div>
    <form id = "process_consolidated_returns_form">

    <b>Process Consolidated Returns</b></label></br></br>

    <button type = "submit" class = "submit">Start Processing Consolidated Returns</button>
    </form>
    </div>
    <div>
        <canvas id="consolidated_returns_chart"></canvas>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='process_consolidated_returns.js') }}" defer></script>
{% endblock %}