{% extends "base.html" %}

{% block title %}Process Consolidated Allocation{% endblock %}

{% block content %}
    <div>
    <form id = "process_consolidated_allocation_form">

    <b>Process Consolidated Allocation</b></label></br></br>

    <button type = "submit" class = "submit">Start Processing Consolidated Allocation</button>
    </form>
    </div>
    <div>
        <canvas id="consolidated_allocation_chart"></canvas>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='process_consolidated_allocation.js') }}" defer></script>
{% endblock %}