{% extends "base.html" %}

{% block title %}Process Realised Intraday and Swing Stock Returns{% endblock %}

{% block content %}
    <div>
    <form id = "process_realised_stock_returns_form">

    <b>Process Realised Intraday and Swing Stock Returns</b></label></br></br>

    <button type = "submit" class = "submit">Start Processing Realised Stock Returns</button>
    </form>
    </div>
    <div>
        <canvas id="realised_stock_returns_chart"></canvas>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='process_realised_stock_returns_form.js') }}" defer></script>
{% endblock %}