<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Consolidated Protfolio Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href = "/hist_price">Historic Price</a>
        <a href = "/metadata/">Metadata Entry</a>
        <a href = "/portfolio_order">Portfolio Order Entry</a>
        <a href = "/processing_date">Processing Date</a>
        <button class="theme-toggle" id="themeToggle">Toggle Mode</button>
    </nav>
</header>
<body>
    <div>
    <form id = "processing_date_form">

    <label for = "mf_proc_typ_cd">
    <b>Processing Type Code for Mutual Funds</b></label></br>

    <label for = "mf_proc_date">
    <b>Mutual Fund Processing Date</b></label></br>
    <input type = "date" id = "mf_proc_date" name = "mf_proc_date" autocomplete="off"></br>
    
    <label for = "mf_next_proc_date">
    <b>Mutual Fund Next Processing Date</b></label></br>
    <input type = "date" id = "mf_next_proc_date" name = "mf_next_proc_date" autocomplete="off"></br>
    
    <label for = "mf_prev_proc_date">
    <b>Mutual Fund Previous Processing Date</b></label></br>
    <input type = "date" id = "mf_prev_proc_date" name = "mf_prev_proc_date" autocomplete="off"></br>
    
    <label for = "ppf_mf_proc_typ_cd">
    <b>Processing Type Code for Parag Parikh Mutual Fund</b></label></br>

    <label for = "ppf_mf_proc_date">
    <b>Parag Parikh Mutual Fund Processing Date</b></label></br>
    <input type = "date" id = "ppf_mf_proc_date" name = "ppf_mf_proc_date" autocomplete="off"></br>
    
    <label for = "ppf_mf_next_proc_date">
    <b>Parag Parikh Mutual Fund Next Processing Date</b></label></br>
    <input type = "date" id = "ppf_mf_next_proc_date" name = "ppf_mf_next_proc_date" autocomplete="off"></br>
    
    <label for = "ppf_mf_prev_proc_date">
    <b>Parag Parikh Mutual Fund Previous Processing Date</b></label></br>
    <input type = "date" id = "ppf_mf_prev_proc_date" name = "ppf_mf_prev_proc_date" autocomplete="off"></br>
   
    <label for = "ppf_mf_proc_typ_cd">
    <b>Processing Type Code for Stocks</b></label></br>

    <label for = "stock_proc_date">
    <b>Stock Processing Date</b></label></br>
    <input type = "date" id = "stock_proc_date" name = "stock_proc_date" autocomplete="off"></br>
    
    <label for = "stock_next_proc_date">
    <b>Stocks Next Processing Date</b></label></br>
    <input type = "date" id = "stock_next_proc_date" name = "stock_next_proc_date" autocomplete="off"></br>
    
    <label for = "stock_prev_proc_date">
    <b>Stocks Previous Processing Date</b></label></br>
    <input type = "date" id = "stock_prev_proc_date" name = "stock_prev_proc_date" autocomplete="off"></br>
      
    <button type = "submit" class = "submit">Update Processing Dates</button>
    </form>
    </div>
    <div id = "result"></div>
<script src="{{ url_for('static', filename='processing_date_form.js') }}" defer></script>
</body>
</html>