{% extends "base.html" %}

{% block title %}Stocks Order From PDF{% endblock %}

{% block content %}
    <div>
    <form id = "stock_order_pdf_form" enctype="multipart/form-data">

    <label for = "stock_pdf">
    <b>Stock PDF</b></label>
    <input type = "file" id = "stock_pdf" name = "stock_pdf" placeholder="Upload the Stock PDF" autocomplete="off" accept = "application/pdf" required></br>

    <label for = "file_password">
    <b>File Password</b></label></br>
    <input type = "password" id = "file_password" name = "file_password" autocomplete="off"></br>
    
    <button type = "submit" class = "submit">Submit</button>
    </form>
    </div>

    <div id="trade_div">
        <table id="trade_table">
        </table>
    </div></br>

    <div id="fee_div">
        <table id="fee_table">
        </table>
    </div></br>

    <button id = "add_fee_button">Add Fee Component</button><br/><br/>

    <button id = "update_button">Update Info</button>

    </div></br></br>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='stock_order_pdf_form.js') }}" defer></script>
{% endblock %}